<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Welcome to Zortazert's website!</title>
  <link rel="stylesheet" href="/style/styles.css">
</head>

<h2>Anti Vax Gets the Shot!</h2>

<video controls width="750">
  <source src="0000-0486.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
