/* Okay, so this is for change the background color, for put the text in center, change the font size and chage the font
The Symbol "*"
is for make this changes for everithing
 */

* {
    background-color: #282828;
    font-size: 20px;
    font-family: system-ui;
    list-style-type: none;
}

/* change color For Linked text  */
a{
    color: white;
}

/* change font color tex */
body{
    color: white;
}

code {
	background-color: #747474;
	font-size: 16px;
	font-family: system-ui;
	word-wrap: break-word;
	width: 100%;
}
